CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wdocumentation
    - -Wdocumentation-pedantic
    - -Wconversion
    - -Wsign-compare
    - -ferror-limit=0

Diagnostics:
  Includes:
    AnalyzeAngledIncludes: true
  ClangTidy:
    FastCheckFilter: None
  UnusedIncludes: Strict
  MissingIncludes: Strict
