name: rules_swiftnav

on:
  pull_request: ~
  push:
    branches:
      - 'main'

jobs:
  example-small-world:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Run format
        run: |
          bazel run //tools/buildifier:buildifier
          git diff --exit-code

      - name: Build and generate coverage
        run: |
          cd examples/small_world
          ./scripts/generate_coverage.sh

      - name: Run format
        run: |
          cd examples/small_world
          bazel run //tools/buildifier:buildifier
          git diff --exit-code
