name: rules_swiftnav

on:
  pull_request: ~
  push:
    branches:
      - 'main'

jobs:
  check-formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - uses: bazel-contrib/setup-bazel@0.15.0

      - name: Mount bazel cache
        uses: actions/cache@v4
        with:
          path: "~/.cache/bazel"
          key: bazel

      - name: Run format
        run: |
          bazel run //tools/buildifier:buildifier
          git diff --exit-code

  example-small-world:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - uses: bazel-contrib/setup-bazel@0.15.0

      - name: Mount bazel cache
        uses: actions/cache@v4
        with:
          path: "~/.cache/bazel"
          key: bazel-example-small-world

      - name: Build and generate coverage
        run: |
          cd examples/small_world
          ./scripts/generate_coverage.sh

      - name: Run format
        run: |
          cd examples/small_world
          bazel run //tools/buildifier:buildifier
          git diff --exit-code
